body {
  margin: 0rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.container {
  background-color: rgb(216, 213, 213);
  display: flex;
  justify-content: space-around;
  height: 35rem;
  width: 50rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: blue;
}
form label {
  margin-bottom: -1rem;
  font-size: 0.75rem;
}
form input,
form select {
  height: 1.7rem;
  border-radius: 0.3em;
}
form input {
  background-color: white;
  border: 1px solid rgb(160, 159, 159);
  margin-bottom: 0.5rem;
}
form select {
  height: 1.5rem;
  background-color: transparent;
  border: 1px solid rgb(173, 162, 162);
  margin-bottom: 0.5rem;
}
form button {
  color: white;
  background-color: blue;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 4rem;
  border: none;
}

.side-block {
  background-color: white;
  border-radius: 0.5rem;
  width: 20rem;
  height: 10rem;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-around;
}
.top-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.test {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  margin-top: 1rem;
  height: 2rem;
}

.priority {
  color: white;
  background-color: rgb(253, 140, 159);
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
  width: fit-content;
  font-size: 0.7rem;
}
.task-name {
  font-size: medium;
  font-weight: bold;
  color: rgb(82, 82, 128);
}
.text span {
  background-color: rgb(185, 185, 185);
  color: blue;
  font-size: small;
  padding: 0.3rem;
  font-style: none;
  border-radius: 0.2rem;
}
.management {
  margin-left: 0.7em;
}
.date {
  font-size: 0.7rem;
  color: rgb(153, 151, 151);
}
.bottom-block {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  gap: 2rem;
  margin-right: 2rem;
}
.bottom-block div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.7rem;
  color: blue;
}
